DEEPL_API_KEY=
DEEPL_API_URL=https://api-free.deepl.com
DEEPL_SOURCE_LANG=EN
DEEPL_TARGET_LANG=PT-BR
AZURE_TRANSLATE_ENABLED=false
AZURE_TRANSLATOR_KEY=
AZURE_TRANSLATOR_ENDPOINT=https://api.cognitive.microsofttranslator.com
AZURE_TRANSLATOR_REGION=
AZURE_SOURCE_LANG=en
AZURE_TARGET_LANG=pt-br
ENABLE_PROVIDER_FALLBACK=true
FALLBACK_PROVIDERS=azure
